<!DOCTYPE html>
<html lang="pt-BR"
		xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Fábio Santos de Souza">
	
    <title>Helpêe - Sistema de Chamados TI</title>

	<link rel="stylesheet" th:href="@{/assets/css/vendors/vendors.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/vendors/helpee.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/vendors/application.css}" />     
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.2.0/vanilla-masker.min.js"></script>  
    

</head>

<body>

    <div class="aw-layout-page">

        <div th:replace="/layout/fragments/header :: header"></div>

        <div th:replace="/layout/fragments/aside :: aside"></div>

        <section class="aw-layout-content  js-content" layout:fragment="section-conteudo"></section>

        <div th:replace="/layout/fragments/footer :: footer"></div>

    </div>

    
    
    <script th:src="@{/assets/js/vendors/vendors.min.js}"></script>   
    <script th:src="@{/assets/js/vendors/helpee.min.js}"></script>

    <script th:src="@{/assets/js/main.js}" type="module" defer></script>
       


</body>

</html>