<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
</head>

<body>

	<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasErrors()}">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<th:block th:each="erros : ${#fields.detailedErrors()}">
			<div>
				<span th:text="${erros.message}"></span>				
			</div>
		</th:block>

	</div>

</body>

</html>